body{
  /*background-color:#EDEEED;*/
  background-image:url("bg1.jpg");
  background-size:cover;
  background-attachment: fixed;
  background-position:center;
  background-blend-mode:overlay;
  margin:0;
}
h1{
  margin:0;
  color:#484849;
  text-align: center;
}
#navbarHeading{
  float:left;
  display:inline-block;
  width:60%;
  margin:0;
  line-height:50px;
  color:#EDEEED;
  text-align:center;
}
#navbar{
  float:left;
  width:100%;
  margin:0;
  height:50px;
  background-color:#484849;
  margin-bottom:50px;

}
.btnBlock{
  float:left;
  width:20%;
  display:inline-block;
  margin:0 auto;
}
.btn{
  float:left;
  min-width:50%;
  height:50px;
  background-color:#6d8487;
  border:none;
  outline:none;
  color:#EDEEED;
  font-size:20px;
}
.btn:hover{
  background-color:#a08c9b;
  color:#EDEEED;
}
.modeChoosed{
  background-color:#a08c9b;
}
#score{
  width:20%;
}
.container{
  padding:100px;
  max-width:600px;
  margin:0 auto;
}
#questionBox{
  width:30%;
  background-color:#F7CDE0;
  margin:0 auto;
  border-radius:15%;
  box-shadow: 2px 2px 5px #A08C9B;
}
.boxContainer{
  margin:0 auto;
  width:100%;
  min-height:200px;
}
.characterBoxes{
float:left;
  width:30%;
  background-color:#BDE6EB;
  margin:1.33%;
  border-radius:15%;
  box-shadow: 2px 2px 5px #6D8487;
}
.characters{
  color:white;
  font-size:50px;
  font-weight: 700;
  text-align: center;
  padding:25px auto;
  line-height:130px;
  text-shadow: 0px 2px 2px rgba(0,0,0,0.4),
            0px 1px 1px rgba(0,0,0,0.2),
            0px 1px 1px rgba(0,0,0,0.2);
}

.characterBoxes:hover{
  background-color:#484849;
}
.wrong{
  background-color:#AB2754;
}
#status{
  width:100%;
  margin:50px auto;
  color:#484849;
  height:100px;
  line-height:100px;
  border:1px solid #B9B9BD;
  background-color:rgba(237,237,237,0.8);
}
h1{
  color:#484849;
}
